WORDPRESS_DB_HOST=db:3306
WORDPRESS_DB_NAME=weddingsbychetan
WORDPRESS_DB_USER=wbc_user
WORDPRESS_DB_PASSWORD=wbc_password
MYSQL_DATABASE=weddingsbychetan
MYSQL_USER=wbc_user
MYSQL_PASSWORD=wbc_password
MYSQL_ROOT_PASSWORD=root_password
